modules = ["nodejs-20", "rust-stable", "web", "bash"]
run = "yarn install"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "yarn install"]

[workflows]

[[workflows.workflow]]
name = "Run"
author = 9606277
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"

[[workflows.workflow]]
name = "Run with PNPM"
author = 9606277
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"

[[workflows.workflow]]
name = "PNPM Dev"
author = 9606277
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
